@model IEnumerable<Final_Project.Models.Hall>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <main role="main" class="pb-3">
    <br />
    <br />
    <br />
    <br />

<h1>Search Halls</h1>


        <form  method="post" class="justify-content-center" asp-controller="Halls" asp-action ="Filter" >
            <div class="form-group">            
                <input type="text" name="SearchString" class="form-control" placeholder="Please Enter Keywords">
            </div>
            <div class="input-group mb-3">
                <input type ="number"  class="form-control" name="min" min=0 placeholder="Min Price"/>
                <input type ="number"  class="form-control" name="max" min=0 placeholder="Max Price"/>
            </div>
            <div class="form-group d-grid gap-2"> 
                <input type="submit" class="btn btn-primary" value="Filter" />
            </div>
        </form>
                 


         
       <hr />
         <div class="form-group d-grid gap-2"> 
            <a  asp-controller="UserBookHalls" asp-action="Index" class="btn btn-outline-danger" > Go To My Reservtions</a>
         </div>
       <hr />


        @if (Model.Count()==0)
            {
                <h1 style="text-align:center" >Not Found</h1>
            }
            else{
                   <div class="row row-cols-1 row-cols-md-2 g-4">
         
            @foreach (var item in Model)
            {
      <div class="col">
         <div class="card">
            <img src="@item.HallImages.FirstOrDefault().URL" width="100" height="200"  class="card-img-top" alt="...">
              <div class="card-body">
                 <h5 class="card-title">@item.Name</h5>
                      <p class="card-text">Location : @item.Location</p>
                      <p class="card-text">Price: @item.Price</p>
        <div class="form-group d-grid gap-2">
            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-outline-success" >Details</a>
            <a asp-action="Booking" asp-route-id="@item.id" class="btn btn-outline-danger" >Book</a>
        </div>
   
      </div>
    </div>
    </div>
    <br />
      }
    </div>

            }
      
   


    </main>
</div>
